*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.header{
    background: rgb(44, 44, 44);
}
.container{
    max-width: 1110px;
    margin: 0 auto;
}
.container_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 0;
}
.nav_list{
    display: flex;
    list-style: none ;
}
.nav_item{
    margin-right: 32px;
    color: rgb(228, 228, 228);
font-family: Nico Moji;
font-size: 20px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0%;
text-align: left;
cursor: pointer;
transition: .3s;
}
.nav_item:hover{
    color: rgb(0, 196, 240);
}
.logo{
    display: flex;
    align-items: center;
}
.logo_title{
    color: rgb(255, 255, 255);
font-family: Nico Moji;
font-size: 20px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0%;
text-align: left;
}
.header_img{
    margin-right: 10px;
}
.hero-block{
    background: rgb(44, 44, 44);
}
.container_hero-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 66px 0 90px;
}
.hero-block_content{
    max-width: 441px;
}
.hero-block_title{
    color: rgb(228, 228, 228);
font-family: Nico Moji;
font-size: 72px;
font-weight: 400;
line-height: 72px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 28px;
}
.hero-block_text{
    color: rgb(228, 228, 228);
font-family: Roboto;
font-size: 20px;
font-weight: 400;
line-height: 23px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 40px;
}
.hero-block_link{
    border-radius: 6px;

box-shadow: 0px 2px 13px 0px rgba(226, 158, 0, 0.48);
background: linear-gradient(135.00deg, rgb(0, 210, 226),rgb(226, 226, 0) 74.809%);
padding: 15px 48px;
color: rgb(0, 0, 0);
font-family: Nico Moji;
font-size: 18px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0%;
text-align: left;
}
.video{
    background: rgb(44, 44, 44);
}
.video_title{
    color: rgb(228, 228, 228);
font-family: Nico Moji;
font-size: 48px;
font-weight: 400;
line-height: 48px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 51px;
}
.container_video{
    padding: 70px 0 94px;
}
.video_video{
    width: 100%;
    height: 561px;
    border: 50px rgb(65, 65, 65) solid;
    border-radius: 29px;
    box-sizing: border-box;
}
.section1{
    background-color: dimgray;
}
.main_content2{
    max-width: 441px;
}
.main_img2{
    width: 500px;
}
.main_title2{
    color: rgb(228, 228, 228);
font-family: Nico Moji;
font-size: 72px;
font-weight: 400;
line-height: 72px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 28px;
}
.hero-block_title{
    color: rgb(228, 228, 228);
font-family: Nico Moji;
font-size: 72px;
font-weight: 400;
line-height: 72px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 28px;
}
.text_main{
    color: rgb(228, 228, 228);
font-family: Roboto;
font-size: 20px;
font-weight: 400;
line-height: 23px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 40px;
}
.main2{
    list-style: none ;
}
.main_link{
    border-radius: 6px;

    box-shadow: 0px 2px 13px 0px rgba(226, 158, 0, 0.48);
    background: linear-gradient(135.00deg, rgb(0, 210, 226),rgb(226, 226, 0) 74.809%);
    padding: 15px 48px;
    color: rgb(0, 0, 0);
    font-family: Nico Moji;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: left;
}
.nav_item2{
    margin-bottom: 40px;
}
.container2{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 66px 0 90px;
}
.footer_list{
    display: flex;
    list-style: none;
}
.container_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_link{
    color: rgb(228, 228, 228);
}
.burger{
    width: 80px;
    height: 50px;
    background-color: transparent;
    border: none;
    display: none;
}
.burger_line{
    width: 100%;
    height: 10px;
    background-color: rgb(84, 185, 224) ;
    margin-bottom: 10px;
}
.nav_link:hover{
    color: rgb(0, 196, 240);
}
.footer{
    background-color: rgb(44, 44, 44);;
}
.footer_title{
    color:rgb(228, 228, 228); ;
    margin-bottom: 18px;
}
.footer_text{
    color: rgb(228, 228, 228);;
}
.container_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 0;
}
.footer_item{
    margin-right: 40px;
}
.section2{
    background-color: darkgrey;
}
.text_main2{
    color: rgb(228, 228, 228);
    font-family: Roboto;
    font-size: 25px;
    font-weight: 400;
    line-height: 23px;
    text-align: left;
    margin-bottom: 40px;
    margin-bottom: 70px;
}
.main_content3{
    max-width: 441px;
    background-color: dimgrey;
    border-radius: 20px;
    box-shadow: 0px 2px 13px 0px rgba(19, 13, 0, 0.48);
    padding: 40px 48px;
    }
.container3{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 66px 0 90px;
}
.about{
    background-color: rgb(62, 62, 62);;
}
    .container_about{
        padding: 70px 0 10px;
align-items: center;
    }
    .about__title{
        color: rgb(228, 228, 228);
font-family: Nico Moji;
font-size: 48px;
font-weight: 400;
line-height: 48px;
letter-spacing: 0%;
text-align: center;

    }
    .about_content{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .about__text{
        max-width: 200px;
        color: rgb(228, 228, 228);
font-family: Nico Moji;
font-size: 30px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0%;
text-align: left;

margin-left: 30px;
    }
    .li_about{
        color: rgb(228, 228, 228);
font-family: Nico Moji;
font-size: 30px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 20px;
    }
    .skills{
        list-style: none;
    }
    .li_about1{
        width: 356px;
        height: 10px;
        background: rgb(44, 44, 44);
        margin-bottom: 35px;
        margin-right: 50px;
    }
    .li_about2{
        background: rgb(0, 196, 240);
        max-width: 100%;
        width: 303px;
        height: 10px;
    }
    .li_about4{
        background: rgb(0, 196, 240);
        max-width: 100%;
        width: 276px;
        height: 10px;
    }.li_about5{
        background: rgb(0, 196, 240);
        max-width: 100%;
        width: 319px;
        height: 10px;
    }
    .gallery{
        background: rgb(62, 62, 62);
        padding: 70px 17px 70px ;
    }
    .gallery_title{
        color: rgb(228, 228, 228);
font-family: Nico Moji;
font-size: 48px;
font-weight: 400;
line-height: 48px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 70px;
text-align: center;
    }
    .gallery_list{
        display: flex;
        flex-wrap: wrap;
        list-style: none;
    }
    .gallery_item{
        width: 33%;
        height: 356px;
        margin-bottom: 39px;
    }
    .gallery_img{
        width: 100%;
        height: 100%;
    }
@media (max-width: 834px){
    .container{
        max-width: 580px;
    }
    .nav{
        display: none;
    }
    .burger{
        display: block;
    }
    .container_hero-block{
        flex-direction: column;
        align-items: center;
    }
    .hero-block_text{
       text-align: center;
    }
    .hero-block_title{
        text-align: center;
        margin-top: 35px;
    }
    .hero-block_content{
        display: flex;
        min-width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .about_content{
        flex-direction: column;
    }
    .about__title{
        margin-bottom: 80px;
    }
    .skills{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .video_video{
        height: 337px;
    }
    .gallery_item{
        width: 50%;
    }
}